.statistics{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    margin-left: 10px;

    background-color:#efeaea;
}
.title {
    font-size: 30px;
    margin: 0;
}
.stat_list {
    display: flex;
    padding: 0;
    margin: 0;
    
}
